services:
  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 'password'
      MYSQL_DATABASE: 'app_db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'

  redis:
    image: redis:latest
    restart: always
    command: redis-server --save 60 1 --loglevel warning

  app:
    build: .
    command: sh -c "python manage.py migrate && python manage.py runserver 8000"
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    depends_on:
      - redis
      - db
    environment:
      APP_ENVIRONMENT: "production"
      DATABASE_NAME: "app_db"
      DATABASE_USER: "user"
      DATABASE_PASSWORD: "password"
      DATABASE_HOST: "db"
      DATABASE_PORT: 3306
      CACHE_BACKEND_HOST: "localhost"
      CACHE_BACKEND_PORT: 6379
      DJANGO_SECRET_KEY: "django-insecure-c#kf9*52rq%yod6vxm-2@hlf^fy#@1vly_&+p^otr$z#+-4y4*"
