services:
  db:
    image: mysql:5.7.39
    restart: always
    ports:
      - "3306:3306"
    expose:
      - 3306
    environment:
      MYSQL_ROOT_PASSWORD: "password"
      MYSQL_DATABASE: "app_db"

  redis:
    image: redis:latest
    restart: always
    command: redis-server --save 60 1 --loglevel warning

  app:
    build: .
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    depends_on:
      - redis
      - db
    environment:
      APP_ENVIRONMENT: "production"
      DATABASE_NAME: "app_db"
      DATABASE_USER: "root"
      DATABASE_PASSWORD: "password"
      DATABASE_HOST: "db"
      DATABASE_PORT: 3306
      CACHE_BACKEND_HOST: "redis"
      CACHE_BACKEND_PORT: 6379
      DJANGO_SECRET_KEY: "django-insecure-c#kf9*52rq%yod6vxm-2@hlf^fy#@1vly_&+p^otr$z#+-4y4*"
