# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test

on:
  push:
    branches: ["main", "feature/*", "bugfix/*", "hotfix/*"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: setup-docker
        uses: docker-practice/actions-setup-docker@1.0.11

      - name: Install dependencies
        run: |
          docker-compose build
          python -m pip install --upgrade pip
          pip install flake8 isort black

      - name: Lint
        run: |
          flake8 ./app
          isort . --check --diff
          black ./app --check
      - name: Test
        run: |
          docker-compose up -d db
          docker-compose run app sh -c "ping -w20 db"
          docker-compose run app sh -c "python manage.py migrate && python manage.py test"

      - name: Security
        run: |
          docker-compose run app sh -c "python manage.py check --deploy --fail-level=WARNING"
